<div id="content">
	<div class="lborder"><div class="rborder"></div></div>

	<div class="news_container">
 
		<div class="article">
		<%= will_paginate @articles %>
				

		<ul>
			<%= render(:partial => "index") %>
		</ul>
		</div>

	</div>
	<div class="right_content">
		<div class="video">
			<p>Latest Videos</p>
		</div>	
	</div>

	<div class="blborder"><div class="brborder"></div></div>
</div>
