<div id="content">
	<div class="lborder"><div class="rborder"></div></div>

	<div class="news_container">
 
		<div class="article">
		<%= will_paginate @articles %>
		<ul>
			<%= render(:partial => "index") %>
		</ul>
		</div>

	</div>
	<div class="right_content">
		<div class="sponsor">
			<p>Sponsors <a href="mailto:admin@generals.com">(interested in sponsoring us?)</a></p>
			<div id="s1" class="pics">
				<% for sponsor in @sponsors %>
					<%= image_tag( '/images/sponsor/' + sponsor.image_url, :width => 250, :height => 150, :alt => sponsor.title ) %>
				<% end %>
			</div>
		</div>	
	</div>

	<div class="blborder"><div class="brborder"></div></div>
</div>
